Source: x2goclient
Section: x11
Priority: extra
Maintainer: X2Go Developers <x2go-dev@lists.x2go.org>
Uploaders:
 Oleksandr Shneyder <oleksandr.shneyder@obviously-nice.de>,
 Mike Gabriel <mike.gabriel@das-netzwerkteam.de>,
 Mihai Moldovan <ionic@ionic.de>,
Build-Depends:
 debhelper (>= 7.0.50~),
 libqt4-dev | qtbase5-dev,
 libqt4-dev | qttools5-dev-tools,
 libqt4-dev | libqt5svg5-dev,
 libqt4-dev | libqt5x11extras5-dev,
 libldap2-dev,
 libssh-dev (>= 0.5.4-2~),
 libcups2-dev,
 libx11-dev,
 libxpm-dev,
 man2html-base | man2html,
 pkg-config,
Standards-Version: 3.9.5
Homepage: https://code.x2go.org/releases/source/x2goclient
Vcs-Git: git://code.x2go.org/x2goclient.git
Vcs-Browser: https://code.x2go.org/gitweb?p=x2goclient.git;a=summary

Package: x2goclient
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 openssh-client,
 nxproxy | qvd-nxproxy,
 x2gokdriveclient | hello,
Recommends:
 openssh-server,
 freerdp2-x11 | rdesktop | freerdp-x11,
Suggests:
 pinentry-x2go,
Conflicts:
 x2goclient-gtk,
Replaces:
 x2goclient-gtk,
Description: X2Go Client application (Qt4)
 X2Go is a serverbased computing environment with
    - session resuming
    - low bandwidth support
    - session brokerage support
    - client-side mass storage mounting support
    - client-side printing support
    - audio support
    - authentication by smartcard and USB stick
 .
 X2Go Client is a graphical client (Qt4) for the X2Go system.
 You can use it to connect to running sessions and start new sessions.

Package: x2goplugin
Architecture: all
Depends:
 ${misc:Depends},
Description: X2Go Client (Qt4) as browser plugin (dummy package)
 X2Go is a serverbased computing environment with
    - session resuming
    - low bandwidth support
    - session brokerage support
    - client-side mass storage mounting support
    - client-side printing support
    - audio support
    - authentication by smartcard and USB stick
 .
 X2Go Client is a graphical client (qt4) for the X2Go system.
 You can use it to connect to running sessions and start new sessions.
 .
 This package can be safely removed. Since X2Go Client 4.1.2.0,
 the X2Go Plugin has been removed without a replacement.

Package: x2goplugin-provider
Architecture: all
Depends:
 ${misc:Depends},
Description: Provide X2Go Plugin via Apache webserver (dummy package)
 X2Go is a serverbased computing environment with
    - session resuming
    - low bandwidth support
    - session brokerage support
    - client-side mass storage mounting support
    - client-side printing support
    - audio support
    - authentication by smartcard and USB stick
 .
 This package can be safely removed. Since X2Go Client 4.1.2.0,
 the X2Go Plugin has been removed without a replacement.

Package: x2goclient-dbg
Section: debug
Architecture: any
Depends:
 ${misc:Depends},
 x2goclient (= ${binary:Version}),
Description: X2Go Client application (Qt4), debug symbols (client)
 X2Go is a serverbased computing environment with
    - session resuming
    - low bandwidth support
    - session brokerage support
    - client-side mass storage mounting support
    - client-side printing support
    - audio support
    - authentication by smartcard and USB stick
 .
 X2Go Client is a graphical client (Qt4) for the X2Go system.
 You can use it to connect to running sessions and start new sessions
 .
 This package provides the debug symbols for the X2Go Client application.

Package: x2goplugin-dbg
Section: debug
Architecture: all
Depends:
 ${misc:Depends},
Description: X2Go Client application (Qt4), debug symbols (plugin) (dummy package)
 X2Go is a serverbased computing environment with
    - session resuming
    - low bandwidth support
    - session brokerage support
    - client-side mass storage mounting support
    - client-side printing support
    - audio support
    - authentication by smartcard and USB stick
 .
 X2Go Client is a graphical client (Qt4) for the X2Go system.
 You can use it to connect to running sessions and start new sessions
 .
 This package can be safely removed. Since X2Go Client 4.1.2.0,
 the X2Go Plugin has been removed without a replacement.
